/* I am importing from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Kalnia+Glaze:wght@100..700&family=Nabla&family=New+Amsterdam&family=Sixtyfour+Convergence&family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin-top: 25px;
    font-family: 'Space Grotesk', sans-serif;
    /* text-align: center; */
}

header {
    display: flex;
    align-items: center;
}

header * {
    display: inline;
    color: black;
    text-decoration: none;
}

header img {
    height: 50px;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
}

nav * {
    margin: 20px;
    margin-top: 10px;
}

.profile-header {
    margin-left: 485px;
}

h1 {
    text-align: center;
}

.card-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    z-index: 1;
}

.card-list-item {
    flex-basis: 100px;
    margin: 20px;
    perspective: 1000px;  /* The perspective for my 3D effect */
}

.card-list-container img {
    width: 250px;
    height: auto;
    transition: transform 0.5s ease; 
    transform-origin: center; 
}

.card-list-container img:hover {
    /* I got this hover inspiration from: https://codepen.io/gayane-gasparyan/pen/wvxewXO */
    transform: perspective(1500px) translateY(-5%) rotateX(25deg) translateZ(0);
}

.heroes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 1;
}

.hero {
    display: flex;
    position: relative;
    width: 400px; /* set a fixed width for the hero container */
    margin: 20px;
}

.heroes-item {
    position: relative; 
}

.heroes-item img {
    width: 100%;
    height: auto; 
    opacity: 100%;
    transition: 0.5s ease; 
    transform-origin: center; 
}

.heroes-name {
    position: absolute;
    top: 0%; 
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    opacity: 0%;
    transition: 1s;
}

.hero:hover .heroes-name {
    opacity: 100%;
    text-shadow: 0px 20px red;
}

.hero:hover .heroes-item img {
    opacity: 20%;
    /* I got this hover inspiration from: https://codepen.io/gayane-gasparyan/pen/wvxewXO */
    transform: perspective(1500px) translateY(-5%) rotateX(25deg) translateZ(0);
}
  
/* .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background5.jpg');
    animation: gradientShift 10s ease infinite;
    z-index: -1;
} 

@keyframes gradientShift {
0% {
    background-position: 0% 50%;
}
25% {
    background-position: 50% 100%;
}
50% {
    background-position: 50% 50%;
}
75% {
    background-position: 50% 100%;
}
100% {
    background-position: 0% 50%;
}
} */
