<!-- game/templates/game/base.html -->

{% load static %}

<html>
    <head>
        <title>Hide and Seek</title>
        <link rel="stylesheet" href="{% static 'style2.css' %}">
    </head>
    <body>
        <header> 
            <nav>
                <!-- nav bar links! -->
                <a href="{% url 'main' %}"><img src="{% static 'images/logo5.gif' %}" alt="logo"></a>
                <a href="{% url 'show_all_cards' %}" class="{% if request.path == '/show_all_cards/' %}active{% endif %}">All Cards</a>
                <a href="{% url 'show_all_hiders' %}" class="{% if request.path == '/hiders/' %}active{% endif %}">Hiders</a>
                <a href="{% url 'show_all_seekers' %}" class="{% if request.path == '/seekers/' %}active{% endif %}">Seekers</a>
                <a href="{% url 'create_game' %}" class="{% if request.path == '/create_game/' %}active{% endif %}">Play Game</a>
                <a href="{% url 'leaderboard_by_games_won' %}" class="{% if request.path == '/leaderboard_by_games_won/' %}active{% elif request.path == '/leaderboard_by_games_played/' %}active{% elif request.path == '/leaderboard_by_win_rate/' %}active{% endif %}">Leaderboard</a>




                <!-- Improvement idea: show user profile picture if logged in. -->
                {% if user.is_authenticated %}
                    <!-- redirects to this specific user's profile -->
                    <a class="profile-header" href="{% url 'show_profile' user.profile.pk %}">Profile</a>
                {% else %}
                    <a class="profile-header" href="{% url 'login' %}">Login</a>
                {% endif %}
            </nav>
        </header>
        
        {% block content %}
        {% endblock %}
    </body>
</html>