<!-- game/templates/game/base.html -->

{% load static %}

<html>
    <head>
        <title>Hide and Seek</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <header> 
            <nav>
                <img src="{% static 'images/logo.png' %}" alt="logo">
                <ul>
                    <li><a href="{% url 'show_all_cards' %}">All Cards</a></li>
                    <li><a href="{% url 'show_all_hiders' %}">Hiders</a></li>
                    <li><a href="{% url 'show_all_seekers' %}">Seekers</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'create_game' %}">Play Game</a></li>
                    {% else %}
                        <!-- just for alignment -->
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    {% endif %}
                </ul>
                <!-- show profile picture if logged in. I will handle this later. -->
                {% if user.is_authenticated %}
                    <!-- redirects to this specific user's profile -->
                    <a class="profile-header" href="{% url 'show_profile' user.profile.pk %}">Profile</a>
                {% else %}
                    <a class="profile-header" href="{% url 'create_profile' %}">Login</a>
                {% endif %}
            </nav>
        </header>
        
        <hr>
        {% block content %}
        {% endblock %}
    </body>
    <!-- gonna work on the script later. -->
    <script src="{% static 'script.js' %}"></script>
</html>