<!-- game/templates/game/create_game.html -->

<body class="main-body">

{% extends 'game/base.html' %}

{% block content %}
    <div class="background"></div>

    <!-- tutorial for how to play -->
    <h1>NEW GAME</h1>
    <p></p>

    <div class="create-game-container"> 

        <!-- how to play -->
        <div class="how-to-play">
            <h2 class="how-to-play-title">How to Play</h2>
            <br>
            <p>This is a Hide and Seek inspired card game!</p>
            <p>You are the <span class="hider-text">HIDER</span>.</p>
            <p>The goal is to survive <span class="number-text">10</span> rounds without being caught by the <span class="seeker-text">SEEKER</span>.</p>
            <p>Use the <span class="button-p-text">Hide button</span> to hide! But, be careful, you can only hide <span class="number-text">2</span> consecutive turns.</p>
            <p>Use the <span class="button-p-text">Play button</span> to play a random card from your deck.</p>
            <p>If Seeker Attack! and you are not hidden, you lose!</p>
            <p>Good luck!</p>
        </div>

        <!-- create game form. It asks for: 
        - one hider class 
        - one seeker class -->
        <div class="create-game-form">
            <form method="post">
                <table>
                    {{ form.as_table }}
                </table>
            <div class="create-game-buttons">
                <button class="click-button" type="submit">CREATE GAME</button>
                {% csrf_token %}
            </form>

            <!-- I was contemplating adding a cancel button, but I don't feel it is necessary. -->
            <!-- <a class="click-button" href="{% url 'show_all_cards' %}">CANCEL</a> -->
            </div>
                

        </div>
    </div>
    
{% endblock %}
    
</body>