<!-- game/templates/game/create_upload_card_form.html -->

{% extends 'game/base.html' %}

{% block content %}
    <h1>Create Card</h1>

    <!-- upload a custom card. The form asks:
        - name
        - description
        - image
    -->
    <div class="post-card-container">
        <form method="post" enctype="multipart/form-data">
            <table>
                {{ form.as_table }}
            </table>
            <tr>
                <td></td>
                <td>
                    <a class="click-button" href="#" onclick="this.parentNode.submit()">Create</a>
                    {% csrf_token %}            
                </td>
            </tr>
            <tr>
                <!-- link to cancel -->
                <td>
                    <a class="click-button" href="{% url 'show_profile' user.profile.pk %}">Cancel</a>
                </td>
            </tr>
            </table>
        </form>
    </div>
    
{% endblock %}