{% extends 'game/base.html' %}

{% block content %}
    <div>
        <!-- Game Status -->
        <h2 class="game-status" id="game-status">Current Turn: 0</h2>

        <div class="hider-buttons">
            <button id="hide-btn">HIDE</button>

            <button id="play-btn">PLAY</button>    
        
        </div>

        <div class="hider-buttons">
            <a href="{% url 'game_over' game.pk %}"><button id="continue-btn" style="display: none;">Continue</button></a>
        </div>

        <div class="game-container">
            <div class="hider-container">
                <div class="hider-class-name">
                    {{ game.hider_class.class_name }}
                </div>
                <div class="hider-image">
                    <img src="{{ game.hider_class.image.url }}" alt="{{ game.hider_class.class_name }}">
                </div>

                <div class="hider-plays">
                    <p id="hider-plays">Hider</p>
                    <div id="hider-card-played" class="card-played"></div>
                </div>
            </div>
            <div class="seeker-container">
                <div class="seeker-class-name">
                    {{ game.seeker_class.class_name }}
                </div>
                <div class="seeker-image">
                    <img src="{{ game.seeker_class.image.url }}" alt="{{ game.seeker_class.class_name }}">
                </div>
                <div class="seeker-plays">
                    <p id="seeker-plays">Seeker</p>
                    <div id="seeker-card-played" class="card-played"></div>
                </div>
            </div>
        </div>

        <!-- not sure if I should show these. They flood the interface -->
        <div id="hider-card-list" class="card-list-container" style="display: none;">
            {% for card in hider_cards %}
                <div class="card-list-item">
                    <img src="{{ card.image.url }}" alt="{{ card.card_name }}" data-card-type="{{ card.card_type }}" data-card-id="{{ card.id }}">
                </div>
            {% endfor %}
        </div>
        
        <div id="seeker-card-list" class="card-list-container" style="display: none;">
            {% for card in seeker_cards %}
                <div class="card-list-item">
                    <img src="{{ card.image.url }}" alt="{{ card.card_name }}" data-card-type="{{ card.card_type }}" data-card-id="{{ card.id }}">
                </div>
            {% endfor %}
        </div>
        

    </div>

    <!-- Inline JavaScript -->
    <script>
        // Initialize Game State
        let gameState = {
            turn: 0,
            isHiding: false,
            // variable to keep track of how many consective turns hider has hidden
            hiddenTurns: 0
        };

        // My play Button Logic
        document.getElementById("play-btn").addEventListener("click", () => {
            // Update Hider Card Played to none
            const hiderCardPlayedElement = document.getElementById("hider-card-played");
            hiderCardPlayedElement.innerHTML = "";

            // Update the hider-image's border color to black
            const hiderImage = document.querySelector(".hider-image img");
            hiderImage.style.borderColor = "black";

            const hiderCards = document.querySelectorAll("#hider-card-list .card-list-item img"); // we will get the hider's cards from html with selector
            const randomCard = hiderCards[Math.floor(Math.random() * hiderCards.length)];
            const hiderAction = `Hider played ${randomCard.getAttribute("alt")}.`;

            // Update Hider Card Played
            hiderCardPlayedElement.innerHTML = `<img src="${randomCard.src}" alt="${randomCard.getAttribute("alt")}" />`;


            gameState.isHiding = false; // Not hiding if Hider plays a card
            // reset the hiddenTurns variable
            gameState.hiddenTurns = 0;
            handleTurn(hiderAction);
        });

        // My hide Button Logic
        document.getElementById("hide-btn").addEventListener("click", () => {
            // Update Hider Card Played to none
            const hiderCardPlayedElement = document.getElementById("hider-card-played");
            hiderCardPlayedElement.innerHTML = "";


            // can only hide if Hider has not hidden for 2 consecutive turns
            if (gameState.hiddenTurns < 2) {
                gameState.hiddenTurns++;
                gameState.isHiding = true;
                handleTurn("Hider chose to hide.");
            } else {
                document.getElementById('hider-plays').innerText = "Hider cannot hide anymore.";
                document.getElementById('seeker-plays').innerText = "Please choose another action.";
                return;
            }  

            // update the hider-image's border color to red
            const hiderImage = document.querySelector(".hider-image img");
            hiderImage.style.borderColor = "red";

        });

        // Seeker Plays Random Card
        function seekerTurn() {
            /* 
            get all seeker cards and return a random card's name and type. 
            */

            // Update Seeker Card Played to none
            const seekerCardPlayedElement = document.getElementById("seeker-card-played");
            seekerCardPlayedElement.innerHTML = "";

            const seekerCards = document.querySelectorAll("#seeker-card-list .card-list-item img");
            console.log(seekerCards);
            const randomCard = seekerCards[Math.floor(Math.random() * seekerCards.length)];
            return {
                name: randomCard.getAttribute("alt"),
                type: randomCard.getAttribute("data-card-type"),
                image: randomCard.src,
            };
        }


        // Handle Each Turn
        function handleTurn(hiderAction) {
            /*
            handle each turn's actions.
            */

            // Seeker's Turn
            const seekerCard = seekerTurn();
            const seekerAction = `Seeker played ${seekerCard.name}.`;

            // Update Seeker Card Played
            const seekerCardPlayedElement = document.getElementById("seeker-card-played");
            seekerCardPlayedElement.innerHTML = `<img src="${seekerCard.image}" alt="${seekerCard.name}" />`;

            // Determine Outcome
            let result = "continue";

            // Update Status, Hider and Seeker actions, and Log Actions
            document.getElementById("hider-plays").innerText = hiderAction;
            document.getElementById("seeker-plays").innerText = seekerAction;

            // I need this to lead to a Game Over page.
            if (!gameState.isHiding && seekerCard.name === "Attack!") {
                result = "lose";
                // hide the hide and play buttons
                document.getElementById("hide-btn").style.display = "none";
                document.getElementById("play-btn").style.display = "none";
                // show the continue button
                document.getElementById("continue-btn").style.display = "block";

                // update the href of the continue button
                const gameOverUrl = `{% url 'game_over' game.pk %}`;
                document.getElementById("continue-btn").parentNode.href = `${gameOverUrl}?result=lose`;
                setTimeout(() => {
                    const gameStatusElement = document.getElementById("game-status");
                    gameStatusElement.style.opacity = "0";
                    setTimeout(() => {
                        gameStatusElement.innerText = "Hider lost! Game over.";
                        gameStatusElement.style.opacity = "1";
                    }, 500);
                    
                }, 1000);
                return;
            }

            // Update Game State
            gameState.turn++;
            document.getElementById("game-status").innerText = `Current Turn: ${gameState.turn}`;

            

            // If turn reaches 10, game is over and Hider wins
            if (gameState.turn === 10) {
                result = "win";
                document.getElementById("game-status").innerText = "Hider won! Game over.";
                // hide the hide and play buttons
                document.getElementById("hide-btn").style.display = "none";
                document.getElementById("play-btn").style.display = "none";
                // show the continue button
                document.getElementById("continue-btn").style.display = "block";

                // redirect to game_over view with result
                // window.location.href = `/game_over/${game.pk}?result=win`;

                // update the href of the continue button
                const gameOverUrl = `{% url 'game_over' game.pk %}`;
                document.getElementById("continue-btn").parentNode.href = `${gameOverUrl}?result=win`;
                return;
            }

            // Just for my debugging purposes
            console.log(`Turn ${gameState.turn}:`);
            console.log(hiderAction);
            console.log(seekerAction);
        }

    </script>
{% endblock %}
