<!-- game/templates/game/leaderboard_by_games_played.html -->

{% extends 'game/base.html' %}

{% block content %}
    <h1>LEADERBOARD</h1>
    <p>...by games played</p>
    
    <div class="leaderboard-table-container">
        <table class="leaderboard-table">
            <tr>
                <th>Name</th>
                <th>Games Played</th>
            </tr>
            {% for profile in profiles %}
                <tr>
                    <!-- link to show_profile -->
                    <td class="table-fields"><a href="{% url 'show_profile' profile.pk %}">{{ profile.user.username }}</a></td>
                    <td class="table-results">{{ profile.games_played }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="leaderboard-buttons-container">
            <div>
                <a class='click-button' href="{% url 'leaderboard_by_games_won' %}">by games won</a>
            </div>
            <div>
                <a class='click-button' href="{% url 'leaderboard_by_win_rate' %}">by win rate</a>  
            </div>
            <div>
                <a class='click-button' href="{% url 'leaderboard_by_games_played' %}">by games played</a>
            </div>
        </div>
    </div>
    
{% endblock %}