<!-- game/templates/game/main.html -->

<body class="main-body">
    {% extends 'game/base.html' %}

    {% block content %}

    <!-- Start of main title content -->
    <br>
    <br>
    <br>
    <h3 class="hide-title">HIDE</h3>
    <h3 class="and-title1">THE C</h3>
    <h3 class="and-title2">A</h3>
    <h3 class="and-title3">N</h3>
    <h3 class="and-title4">D</h3>
    <h3 class="and-title5">GAME</h3>
    <h3 class="small-title">R</h3>
    <h3 class="seek-title">SEEK</h3>
    <!-- End of main title content -->
    {% endblock %}
</body>
