<!-- game/templates/game/show_profile.html -->

{% extends 'game/base.html' %}

{% block content %}
    <div class="background"></div>
    <h1 class="profile-title">PROFILE</h1>
    <!-- username, email, games played, games won -->
    <div class="profile-container">
        <table class="profile-table">
            <tr>
              <td class="table-fields">Username</td>
              <td class="table-results">{{ profile.username }}</td>
            </tr>
            <tr>
              <td class="table-fields">Email</td>
              <td class="table-results">{{ profile.email }}</td>
            </tr>
            <tr>
              <td class="table-fields">Games Finished</td>
              <td class="table-results">{{ profile.games_played }}</td>
            </tr>
            <tr>
              <td class="table-fields">Games Won</td>
              <td class="table-results">{{ profile.games_won }}</td>
            </tr>
            <tr>
              <td class="table-fields">Games Lost</td>
              <td class="table-results">{{ games_lost }}</td>
            </tr>
          </table>

        <div class="profile-cards">
            <!-- show profile's favorite card if it exists -->
            {% if profile.favorite_card %}
                <div class="favorite-card-container">
                    <img src="{{ profile.favorite_card.image.url }}" alt="{{ profile.favorite_card.card_name }}" class="favorite-card-image">
                </div>
            {% endif %}

            <!-- show profile's uploaded card if it exists -->
            {% if uploaded_cards %}
                <div class="favorite-card-container">
                    <img src="{{ uploaded_cards.image_file.url }}" alt="{{ uploaded_cards.card_name }}" class="favorite-card-image">
                </div>
            {% else %}
                <!-- else, create a new upload card -->
                <!-- only if user is authenticated -->
                {% if request.user.is_authenticated %}
                  {% if request.user == profile.user %}
                    <a class='click-button' href="{% url 'create_upload_card' %}">Upload Card (Display)</a>
                  {% endif %}
                {% endif %}
            {% endif %}
        </div>
        
    </div>

    <!-- update profile -->
    <div class="update-profile-container">
      {% if request.user.is_authenticated %}
        {% if request.user == profile.user %}
            <!-- Update Profile -->
            <a class='click-button' href="{% url 'update_profile' %}">Update Profile</a>

            <!-- Delete the upload card if it exists and is owned by the user -->
            {% if uploaded_cards %}
                <a class='click-button' href="{% url 'delete_upload_card' uploaded_cards.pk %}">Delete Upload Card</a>
            {% endif %}

        {% endif %}
      {% endif %}
    </div>

    <!-- pie chart of hiders and seekers played -->
    <div class="pie-chart">
        <div class="pie-chart-item">
            {% if graph_pie_hider %}
                {{ graph_pie_hider|safe }}
            {% endif %}
        </div>
        
        <div class="pie-chart-item">
            {% if graph_pie_seeker %}
                {{ graph_pie_seeker|safe }}
            {% endif %}
        </div>
        
    </div>

    <!-- logout button -->
    {% if request.user.is_authenticated %}
      {% if request.user == profile.user %}
        <div class="logout-button-container">
            <div>
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                    {% csrf_token %}
                </form>
                <a href="#" onclick="document.getElementById('logout-form').submit()" class="click-button">LOG OUT</a>
            </div>
            
        </div>
      {% endif %}
    {% endif %}
    
{% endblock %}