<!-- game/templates/game/show_all_cards.html -->

<body class="pink-body">

{% extends 'game/base.html' %}

{% block content %}
    <!-- Start of all cards page -->
    <h1>CARDS</h1>

    <!-- include my search bar -->
    <div>
        {% include 'game/search.html' %}
    </div>


    <ul>
        <div class="card-list-container">
            <!-- loop through all cards -->
            {% for card in cards %}
            <!-- show the image of the card -->
            <div class="card-list-item"><img src="{{ card.image.url }}" alt="{{ card.card_name }}"></div>
            {% endfor %}
        </div>
    </ul>

    <!-- End of all cards page -->
    
{% endblock %}

</body>